In [1]:
import pandas as pd
retail_dataframe = pd.read_excel("Online Retail.xlsx")
retail_dataframe.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
germany_retail_df = retail_dataframe[retail_dataframe['Country']=='Germany']

In [3]:
germany_retail_df.shape

(9495, 8)

In [4]:
germany_retail_df.CustomerID.nunique()

95

In [5]:
germany_retail_df[germany_retail_df.CustomerID.isnull()].head(10)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [6]:
germany_retail_df['CustomerID'].fillna(99999.0, inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [7]:
germany_retail_df['Description'].fillna('Desc Missing', inplace=True)

In [8]:
germany_retail_df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [10]:
import numpy as np
germany_retail_df['CustomerID']=germany_retail_df['CustomerID'].apply(np.int64)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
germany_retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany

In [12]:
germany_retail_df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [13]:
#get total number of transcations, sale transcations and cancel/return transcations
german_total_trans = germany_retail_df.InvoiceNo.nunique()
german_cancelled_orders = germany_retail_df[germany_retail_df['InvoiceNo'].astype(str).str.startswith('C', na=False)]
german_cancelled_order_count = german_cancelled_orders.InvoiceNo.nunique()
german_sale_transactions_count = german_total_trans - german_cancelled_order_count

In [14]:
#Unique records for Invoice Id, StockCode, Customer ID and Country
print('Germany Transactional Data')
print('Total number of Transactions: ', german_total_trans)
print('Number of Sale Transactions: ', german_sale_transactions_count)
print('Number of Cancel or Return Transactions: ',german_cancelled_order_count)
print('Percentage of Cancel or Return Transactions:',round((german_cancelled_order_count/german_total_trans)*100), '%')
print('Total number of distinct stock codes purchased or cancelled:', germany_retail_df.StockCode.nunique())
print('Total number Customers purchased or cancelled transcations with the retail chain:', germany_retail_df.CustomerID.nunique())
german_missing_cust_records = germany_retail_df.CustomerID.isnull().sum()
german_total_record_count = germany_retail_df.shape[0]
german_percent_missing_cust_records = (german_missing_cust_records / german_total_record_count) * 100
print('Total number of customer records missing', german_missing_cust_records)
print('Percentage of customer records missing',round(german_percent_missing_cust_records),'%')

Germany Transactional Data
Total number of Transactions:  603
Number of Sale Transactions:  457
Number of Cancel or Return Transactions:  146
Percentage of Cancel or Return Transactions: 24 %
Total number of distinct stock codes purchased or cancelled: 1671
Total number Customers purchased or cancelled transcations with the retail chain: 95
Total number of customer records missing 0
Percentage of customer records missing 0.0 %

In [16]:
german_cancelled_trans_df = germany_retail_df[germany_retail_df['InvoiceNo'].astype('str').str.startswith('C', na=False)]

In [17]:
germany_retail_df.shape[0]

9495

In [18]:
german_sale_trans_df = germany_retail_df[~germany_retail_df['InvoiceNo'].isin(german_cancelled_trans_df.InvoiceNo)]

In [19]:
german_sale_trans_df.shape[0]

9042

In [20]:
german_cancelled_trans_df.shape[0]

453

In [21]:
german_sale_trans_df.shape[0] + german_cancelled_trans_df.shape[0]

9495

In [22]:
german_cancelled_trans_df[german_cancelled_trans_df['InvoiceNo'].astype('str').str.startswith('C', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1973,C536548,22244,3 HOOK HANGER MAGIC GARDEN,-4,2010-12-01 14:33:00,1.95,12472,Germany
1974,C536548,22242,5 HOOK HANGER MAGIC TOADSTOOL,-5,2010-12-01 14:33:00,1.65,12472,Germany
1975,C536548,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-1,2010-12-01 14:33:00,2.95,12472,Germany
1976,C536548,22892,SET OF SALT AND PEPPER TOADSTOOLS,-7,2010-12-01 14:33:00,1.25,12472,Germany
1977,C536548,22654,DELUXE SEWING KIT,-1,2010-12-01 14:33:00,5.95,12472,Germany

In [23]:
german_sale_trans_df[german_sale_trans_df['Description'].astype(str).str.contains('BUTTER')].head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
41745,539957,20828,GLITTER BUTTERFLY CLIPS,12,2010-12-23 12:58:00,2.55,12585,Germany
47945,540458,21539,RED RETROSPOT BUTTER DISH,3,2011-01-07 12:28:00,4.95,12501,Germany
48908,540480,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,12,2011-01-07 15:27:00,1.25,12480,Germany
69155,541965,20828,GLITTER BUTTERFLY CLIPS,18,2011-01-24 13:27:00,2.55,12625,Germany
81335,543121,90098,NECKLACE+BRACELET PINK BUTTERFLY,6,2011-02-03 13:58:00,2.55,12662,Germany

In [24]:
german_sale_trans_df[german_sale_trans_df['StockCode'].astype(str).str.startswith('2153')].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
47945,540458,21539,RED RETROSPOT BUTTER DISH,3,2011-01-07 12:28:00,4.95,12501,Germany
101840,544933,21531,RED RETROSPOT SUGAR JAM BOWL,6,2011-02-25 08:44:00,2.55,12633,Germany
101841,544933,21533,RETROSPOT LARGE MILK JUG,3,2011-02-25 08:44:00,4.95,12633,Germany
126343,547071,21531,RED RETROSPOT SUGAR JAM BOWL,6,2011-03-20 13:59:00,2.55,12693,Germany
129164,547379,21533,RETROSPOT LARGE MILK JUG,3,2011-03-22 15:13:00,4.95,12720,Germany

In [38]:
german_stock_desc_df = german_sale_trans_df[['StockCode', 'Description']]

In [39]:
german_stock_desc_df.reset_index(inplace=True)

In [40]:
german_stock_desc_df.drop(['index'], axis=1, inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [41]:
german_stock_desc_df.head()

  StockCode                          Description
0     22809              SET OF 6 T-LIGHTS SANTA
1     84347  ROTATING SILVER ANGELS T-LIGHT HLDR
2     84945   MULTI COLOUR SILVER T-LIGHT HOLDER
3     22242        5 HOOK HANGER MAGIC TOADSTOOL
4     22244           3 HOOK HANGER MAGIC GARDEN

In [43]:
german_stock_desc_df['StockCode'] = german_stock_desc_df['StockCode'].astype(str)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
german_stock_desc_df.StockCode = german_stock_desc_df.StockCode.str.replace(' ', '')

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [45]:
test=german_stock_desc_df.groupby(['StockCode','Description']).count()

In [46]:
test.head()

Empty DataFrame
Columns: []
Index: [(10002, INFLATABLE POLITICAL GLOBE ), (10125, MINI FUNKY DESIGN TAPES), (10135, COLOURING PENCILS BROWN TUBE), (11001, ASSTD DESIGN RACING CAR PEN), (15034, PAPER POCKET TRAVELING FAN )]

In [47]:
german_stock_desc_df = test.reset_index()

In [48]:
german_stock_desc_df.count()

StockCode      1697
Description    1697
dtype: int64

In [49]:
german_stock_desc_df['StockCode'].nunique()

1665

In [50]:
german_stock_desc_df['Description'].nunique()

1697

In [51]:
german_stock_desc_df[german_stock_desc_df['StockCode'].duplicated()].count()

StockCode      32
Description    32
dtype: int64

In [52]:
german_stock_desc_df[german_stock_desc_df['StockCode'].duplicated()]

     StockCode                         Description
181      21232      STRAWBERRY CERAMIC TRINKET POT
264      21507           ELEPHANT, BIRTHDAY CARD,
391      21928      JUMBO BAG SCANDINAVIAN PAISLEY
496      22129   PARTY CONES CANDY TREE DECORATION
522      22179             SET 10 NIGHT OWL LIGHTS
535      22197                SMALL POPCORN HOLDER
643      22383              LUNCH BAG SUKI DESIGN
693      22466       FAIRY TALE COTTAGE NIGHTLIGHT
774      22584      PACK OF 6 PANNETONE GIFT BOXES
782      22595            GINGHAM HEART DECORATION
910      22776         SWEETHEART CAKESTAND 3 TIER
980      22900     SET 2 TEA TOWELS I LOVE LONDON
1005     22939                 APRON APPLE DELIGHT
1046     22985        WRAP, BILLBOARD FONTS DESIGN
1048     22986                  WRAP GINGHAM ROSE
1057     22999     TRAVEL CARD WALLET VINTAGE LEAF
1172     23196       VINTAGE LEAF MAGNETIC NOTEPAD
1180     23203            JUMBO BAG VINTAGE DOILY
1187     23209            LUNCH BAG VINTAGE DOILY
1202     23231                  WRAP DOILEY DESIGN
1204     23232         WRAP VINTAGE PETALS  DESIGN
1209     23236          STORAGE TIN VINTAGE DOILY
1211     23237   SET OF 4 KNICK KNACK TINS LEAVES
1215     23240    SET OF 4 KNICK KNACK TINS DOILY
1317     23396   LE JARDIN BOTANIQUE CUSHION COVER
1387     23545              WRAP RED VINTAGE DOILY
1509     82486   WOOD S/3 CABINET ANT WHITE FINISH
1581     84828   JUNGLE POPSICLES ICE LOLLY MOULDS
1614    84997A  GREEN 3 PIECE POLKADOT CUTLERY SET
1616    84997B   RED 3 PIECE RETROSPOT CUTLERY SET
1618    84997C     CHILDRENS CUTLERY POLKADOT BLUE
1620    84997D   PINK 3 PIECE POLKADOT CUTLERY SET

In [53]:
german_stock_desc_df[german_stock_desc_df['StockCode'].isin(german_stock_desc_df['StockCode'][german_stock_desc_df['StockCode'].duplicated()])].sort_values("StockCode")

     StockCode                          Description
180      21232       STRAWBERRY CERAMIC TRINKET BOX
181      21232       STRAWBERRY CERAMIC TRINKET POT
263      21507              ELEPHANT BIRTHDAY CARD
264      21507            ELEPHANT, BIRTHDAY CARD,
390      21928  JUMBO BAG SCANDINAVIAN BLUE PAISLEY
391      21928       JUMBO BAG SCANDINAVIAN PAISLEY
495      22129         PARTY CONES CANDY DECORATION
496      22129    PARTY CONES CANDY TREE DECORATION
521      22179              SET 10 LIGHTS NIGHT OWL
522      22179              SET 10 NIGHT OWL LIGHTS
534      22197                       POPCORN HOLDER
535      22197                 SMALL POPCORN HOLDER
642      22383              LUNCH BAG SUKI  DESIGN
643      22383               LUNCH BAG SUKI DESIGN
693      22466        FAIRY TALE COTTAGE NIGHTLIGHT
692      22466       FAIRY TALE COTTAGE NIGHT LIGHT
773      22584       PACK OF 6 PANETTONE GIFT BOXES
774      22584       PACK OF 6 PANNETONE GIFT BOXES
781      22595              CHRISTMAS GINGHAM HEART
782      22595             GINGHAM HEART DECORATION
909      22776        SWEETHEART 3 TIER CAKE STAND
910      22776          SWEETHEART CAKESTAND 3 TIER
979      22900      SET 2 TEA TOWELS I LOVE LONDON
980      22900      SET 2 TEA TOWELS I LOVE LONDON
1004     22939            ADULT APRON APPLE DELIGHT
1005     22939                  APRON APPLE DELIGHT
1045     22985          WRAP BILLBOARD FONTS DESIGN
1046     22985         WRAP, BILLBOARD FONTS DESIGN
1047     22986                    GINGHAM ROSE WRAP
1048     22986                   WRAP GINGHAM ROSE
...        ...                                  ...
1179     23203            JUMBO BAG DOILEY PATTERNS
1180     23203             JUMBO BAG VINTAGE DOILY
1186     23209            LUNCH BAG DOILEY PATTERN
1187     23209             LUNCH BAG VINTAGE DOILY
1201     23231                 WRAP  VINTAGE DOILY
1202     23231                   WRAP DOILEY DESIGN
1203     23232             WRAP VINTAGE LEAF DESIGN
1204     23232          WRAP VINTAGE PETALS  DESIGN
1208     23236                   DOILEY STORAGE TIN
1209     23236           STORAGE TIN VINTAGE DOILY
1210     23237       SET OF 4 KNICK KNACK TINS LEAF
1211     23237    SET OF 4 KNICK KNACK TINS LEAVES
1215     23240     SET OF 4 KNICK KNACK TINS DOILY
1214     23240    SET OF 4 KNICK KNACK TINS DOILEY
1316     23396    LA JARDIN BOTANIQUE CUSHION COVER
1317     23396    LE JARDIN BOTANIQUE CUSHION COVER
1386     23545                      WRAP RED DOILEY
1387     23545               WRAP RED VINTAGE DOILY
1508     82486  3 DRAWER ANTIQUE WHITE WOOD CABINET
1509     82486    WOOD S/3 CABINET ANT WHITE FINISH
1580     84828   JUNGLE POPSICLES ICE LOLLY HOLDERS
1581     84828    JUNGLE POPSICLES ICE LOLLY MOULDS
1613    84997A    CHILDRENS CUTLERY POLKADOT GREEN
1614    84997A   GREEN 3 PIECE POLKADOT CUTLERY SET
1615    84997B     CHILDRENS CUTLERY RETROSPOT RED
1616    84997B    RED 3 PIECE RETROSPOT CUTLERY SET
1617    84997C    BLUE 3 PIECE POLKADOT CUTLERY SET
1618    84997C      CHILDRENS CUTLERY POLKADOT BLUE
1619    84997D      CHILDRENS CUTLERY POLKADOT PINK
1620    84997D    PINK 3 PIECE POLKADOT CUTLERY SET

[64 rows x 2 columns]

In [54]:
german_stock_desc_df.drop_duplicates(subset='StockCode', keep="first", inplace=True)

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(german_stock_desc_df['Description'])
doc_term_matrix = tfidf_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=tfidf.get_feature_names(), 
                  index=german_stock_desc_df['Description'])

from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [57]:
from sklearn.metrics.pairwise import cosine_similarity
indices = pd.Series(german_stock_desc_df.index, index=german_stock_desc_df['Description'])

In [92]:
# Function that takes in product description as input and outputs most similar products
def get_recommendations(stockCode, cosine_sim=cosine_sim):
    #Get the product desc from the stockcode
    desc = german_stock_desc_df[german_stock_desc_df['StockCode'] == stockCode]['Description'].tolist()[0]
    
    # Get the index of the product that matches the description
    idx = indices[desc]

    # Get the pairwsie similarity scores of all products with that product
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the products based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar products
    sim_scores = sim_scores[1:11]

    # Get the product indices
    product_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar products
    return german_stock_desc_df[german_stock_desc_df['StockCode'].isin(german_stock_desc_df['StockCode'].iloc[product_indices])]

In [70]:
def popularItems(country):
    purchase_g = germany_retail_df.groupby(['StockCode'])['Quantity'].sum().reset_index()
    purchase_g_sorted = purchase_g.sort_values("Quantity", ascending=False).reset_index().head(10)
    top_selling_stockcodes = purchase_g_sorted['StockCode'].head(10).tolist()
    return top_selling_stockcodes

In [71]:
def printProducts(productList):
    for productCode in productList:
        print(productCode, '-', germany_retail_df[germany_retail_df['StockCode'] == productCode][['Description']][-1:]['Description'].iloc[0])

In [78]:
stockCode = '20750'
#stockCode = ''

In [96]:
try:
    print(get_recommendations(stockCode).to_string(index=False))
except:
    print('StockCode Not Recognised !!', '\n')
    print('Take a look at popular products.....', '\n')
    printProducts(popularItems('Germany'))

StockCode                       Description
    20676                RED RETROSPOT BOWL
    20685             DOORMAT RED RETROSPOT
    20749        ASSORTED COLOUR MINI CASES
    21042              RED RETROSPOT APRON
    21212   PACK OF 72 RETROSPOT CAKE CASES
    21238                 RED RETROSPOT CUP
    21242              RED RETROSPOT PLATE
    21498               RED RETROSPOT WRAP
    21844                 RED RETROSPOT MUG
    23295  SET OF 12 MINI LOAF BAKING CASES