In [1]:
import pandas as pd
retail_dataframe = pd.read_excel("Online Retail.xlsx")
retail_dataframe.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [62]:
germany_retail_df = retail_dataframe[retail_dataframe['Country']=='Germany']

In [63]:
germany_retail_df['CustomerID'].fillna(99999.0, inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [64]:
germany_retail_df['Description'].fillna('Desc Missing', inplace=True)

In [65]:
germany_retail_df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [66]:
import numpy as np
germany_retail_df['CustomerID']=germany_retail_df['CustomerID'].apply(np.int64)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
germany_retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany

In [68]:
german_cancelled_trans_df = germany_retail_df[germany_retail_df['InvoiceNo'].astype('str').str.startswith('C', na=False)]

In [69]:
german_sale_trans_df = germany_retail_df[~germany_retail_df['InvoiceNo'].isin(german_cancelled_trans_df.InvoiceNo)]

In [70]:
german_sale_trans_df.shape[0] + german_cancelled_trans_df.shape[0]

9495

In [71]:
german_sale_trans_df_orig = german_sale_trans_df.copy()

In [72]:
german_sale_trans_df_orig.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [73]:
german_sale_trans_df.groupby('Quantity').count().reset_index().sort_values(by='Quantity', ascending=False).head(10)

,Quantity,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Country
46,600,1,1,1,1,1,1,1
45,432,1,1,1,1,1,1,1
44,300,1,1,1,1,1,1,1
43,288,4,4,4,4,4,4,4
42,200,2,2,2,2,2,2,2
41,192,2,2,2,2,2,2,2
40,144,16,16,16,16,16,16,16
39,128,9,9,9,9,9,9,9
38,125,5,5,5,5,5,5,5
37,120,8,8,8,8,8,8,8

In [74]:
import numpy as np
np.percentile(german_sale_trans_df.Quantity,100)#.quantile([0.95])

600.0

In [75]:
german_sale_trans_df.Quantity.describe()

count    9042.000000
mean       13.189892
std        17.640855
min         1.000000
25%         6.000000
50%        10.000000
75%        12.000000
max       600.000000
Name: Quantity, dtype: float64

In [76]:
#Replace Quantity of items having qty > 299 with the mean()
german_sale_trans_df['Quantity']=np.where(german_sale_trans_df['Quantity'] > 299, german_sale_trans_df.Quantity.mean(), german_sale_trans_df['Quantity'])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
german_sale_trans_df.groupby('Quantity').count().reset_index().sort_values(by='Quantity', ascending=False).head(10)

,Quantity,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Country
44,288.0,4,4,4,4,4,4,4
43,200.0,2,2,2,2,2,2,2
42,192.0,2,2,2,2,2,2,2
41,144.0,16,16,16,16,16,16,16
40,128.0,9,9,9,9,9,9,9
39,125.0,5,5,5,5,5,5,5
38,120.0,8,8,8,8,8,8,8
37,108.0,1,1,1,1,1,1,1
36,100.0,22,22,22,22,22,22,22
35,96.0,18,18,18,18,18,18,18

In [81]:
german_sale_trans_df_orig[german_sale_trans_df.Quantity > 280]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
93216,544281,22585,PACK OF 6 BIRDY GIFT TAGS,288,2011-02-17 12:23:00,1.06,12500,Germany
163779,550625,22893,MINI CAKE STAND T-LIGHT HOLDER,288,2011-04-19 14:02:00,0.36,12619,Germany
233237,557466,84568,GIRLS ALPHABET IRON ON PATCHES,288,2011-06-20 13:08:00,0.21,13815,Germany
479095,577135,84598,BOYS ALPHABET IRON ON PATCHES,288,2011-11-18 08:56:00,0.21,12427,Germany

In [82]:
german_sale_trans_df_orig['StockCode'] = german_sale_trans_df_orig['StockCode'].astype(str)
german_sale_trans_df_orig.StockCode = german_sale_trans_df_orig.StockCode.str.replace(' ', '')

In [83]:
german_stock_desc_df = german_sale_trans_df[['StockCode', 'Description']]
german_stock_desc_df.reset_index(inplace=True)
german_stock_desc_df.drop(['index'], axis=1, inplace=True)
german_stock_desc_df['StockCode'] = german_stock_desc_df['StockCode'].astype(str)
german_stock_desc_df.StockCode = german_stock_desc_df.StockCode.str.replace(' ', '')
test=german_stock_desc_df.groupby(['StockCode','Description']).count()
german_stock_desc_df = test.reset_index()

german_stock_desc_df.drop_duplicates(subset='StockCode', keep="first", inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [84]:
german_sale_trans_df.drop(labels=['InvoiceNo'], axis=1, inplace=True)
german_sale_trans_df.drop(labels=['Country', 'InvoiceDate'], axis=1, inplace=True)
german_sale_trans_df.drop(labels=['Description'], axis=1, inplace=True)
german_sale_trans_df.drop(labels=['UnitPrice'], axis=1, inplace=True)

In [85]:
front = german_sale_trans_df['CustomerID']
german_sale_trans_df.drop(labels=['CustomerID'], axis=1,inplace = True)
german_sale_trans_df.insert(0, 'CustomerID', front)

In [86]:
german_sale_trans_df.StockCode = german_sale_trans_df.StockCode.astype(str)

In [87]:
german_sale_trans_df.StockCode = german_sale_trans_df.StockCode.str.strip()

In [88]:
german_sale_trans_df[(german_sale_trans_df['CustomerID'] == 12500) & german_sale_trans_df['StockCode'].str.contains('22585')]

        CustomerID StockCode  Quantity
50771        12500     22585     144.0
93216        12500     22585     288.0
108617       12500     22585     144.0
123874       12500     22585     144.0
380048       12500     22585      36.0

In [89]:
german_sale_trans_group_df = german_sale_trans_df.groupby(['CustomerID', 'StockCode']).sum().sort_values(by='Quantity', ascending=False)[['Quantity']]

In [90]:
german_sale_trans_group_df.reset_index(inplace=True)

In [91]:
num_users = len(german_sale_trans_df.CustomerID.unique())
num_items = len(german_sale_trans_df.StockCode.unique())
print('There are {} unique users and {} unique products in this data set'.format(num_users, num_items))

There are 94 unique users and 1665 unique products in this data set

In [92]:
german_sale_trans_group_df.head()

   CustomerID StockCode  Quantity
0       12500     22585     756.0
1       12471     22741     624.0
2       12471     22423     432.0
3       12619     23293     384.0
4       12619     23295     384.0

In [93]:
df_matrix = pd.pivot_table(german_sale_trans_group_df, values='Quantity', columns='CustomerID', index='StockCode').fillna(0)

df_matrix.head()

CustomerID,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
df_matrix.shape

(1665, 94)

In [95]:
temp_list=df_matrix.index.tolist()

In [96]:
from scipy.sparse import csr_matrix
cust_features = csr_matrix(df_matrix.values)

In [97]:
from sklearn.neighbors import NearestNeighbors
#make an object for the NearestNeighbors Class.
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10, n_jobs=-1)
# fit the dataset
model_knn.fit(cust_features)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=10, p=2,
                 radius=1.0)

In [98]:
def make_recommendation(model_knn, data, fav_product, index_value, n_recommendations):
    '''return top n similar product recommendations based on user's input product code
    Parameters
    ----------
    model_knn: sklearn model, knn model
    data: movie-user matrix
    fav_product: str, name of product code
    index_value: index value of the stockCode in the sparse matrix
    n_recommendations: int, top n recommendations
    Return
    ------
    list of top n similar product recommendations
    '''
    # fit
    model_knn.fit(data)
    distances, indices = model_knn.kneighbors(data[index_value], n_neighbors=n_recommendations+1)
    raw_recommends =         sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    return raw_recommends

In [99]:
def getStockCodeIndex(productCode):
    try:
        stockCodeIndex = temp_list.index(productCode)
        return stockCodeIndex
    except:
        return -1;

In [100]:
def productsToRecommend(recommends):
    product_list = []

    threshold = 10
    for i in range(threshold):
            product_list.append(temp_list[recommends[i][0]])
    return product_list

In [101]:
def printProducts(productList):
    for productCode in productList:
        print(productCode, '-', german_sale_trans_df_orig[german_sale_trans_df_orig['StockCode'] == productCode][['Description']][-1:]['Description'].iloc[0])

In [102]:
def popularItems(country):
    purchase_g = german_sale_trans_df_orig.groupby(['StockCode'])['Quantity'].sum().reset_index()
    purchase_g_sorted = purchase_g.sort_values("Quantity", ascending=False).reset_index().head(10)
    top_selling_stockcodes = purchase_g_sorted['StockCode'].head(10).tolist()
    return top_selling_stockcodes

In [103]:
productCode = '10125'
#productCode=''
stockIndex = getStockCodeIndex(productCode)
if(stockIndex == -1):
    print('StockCode not Recognised!!!','\n')
    print('Take a look at popular products.....','\n')
    printProducts(popularItems('Germany'))
else:
    recommends = make_recommendation(
    model_knn=model_knn,
    data=cust_features,
    fav_product=productCode,
    index_value=stockIndex,
    n_recommendations=10)
    
    top10product_list = productsToRecommend(recommends)
    if(len(top10product_list) >= 1):
        print('Product Recomendations for ',productCode, '-', german_sale_trans_df_orig[german_sale_trans_df_orig['StockCode'] == productCode][['Description']][-1:]['Description'].iloc[0])
        print('\n')
        printProducts(top10product_list)
    else:
        print('No products to recommend','\n')
        print('Take a look at popular products.....', '\n')
        printProducts(popularItems('Germany'))

Product Recomendations for  10125 - MINI FUNKY DESIGN TAPES


22433 - WATERING CAN GREEN DINOSAUR
21884 - CAKES AND BOWS GIFT  TAPE
21883 - STARS GIFT TAPE
16011 - ANIMAL STICKERS
22610 - PENS ASSORTED FUNNY FACE
22708 - WRAP DOLLY GIRL
22502 - PICNIC BASKET WICKER SMALL
22608 - PENS ASSORTED FUNKY JEWELED
22609 - PENS ASSORTED SPACEBALL
21882 - SKULLS TAPE

In [104]:
#productCode = '10125'
productCode=''
stockIndex = getStockCodeIndex(productCode)
if(stockIndex == -1):
    print('StockCode not Recognised!!!','\n')
    print('Take a look at popular products.....','\n')
    printProducts(popularItems('Germany'))
else:
    recommends = make_recommendation(
    model_knn=model_knn,
    data=cust_features,
    fav_product=productCode,
    index_value=stockIndex,
    n_recommendations=10)
    
    top10product_list = productsToRecommend(recommends)
    if(len(top10product_list) >= 1):
        print('Product Recomendations for ',productCode, '-', german_sale_trans_df_orig[german_sale_trans_df_orig['StockCode'] == productCode][['Description']][-1:]['Description'].iloc[0])
        print('\n')
        printProducts(top10product_list)
    else:
        print('No products to recommend','\n')
        print('Take a look at popular products.....', '\n')
        printProducts(popularItems('Germany'))

StockCode not Recognised!!!

Take a look at popular products.....

22326 - ROUND SNACK BOXES SET OF4 WOODLAND
15036 - ASSORTED COLOURS SILK FAN
POST - POSTAGE
20719 - WOODLAND CHARLOTTE BAG
21212 - PACK OF 72 RETROSPOT CAKE CASES
22585 - PACK OF 6 BIRDY GIFT TAGS
22629 - SPACEBOY LUNCH BOX
22554 - PLASTERS IN TIN WOODLAND ANIMALS
22961 - JAM MAKING SET PRINTED
22423 - REGENCY CAKESTAND 3 TIER